<a href="https://colab.research.google.com/github/icarogga/Review_Score/blob/main/review_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nome: Ícaro de Paula Figueiredo Coelho

RGA: 201719050503

<br>

Nome: Rodrigo Soeira Silva

RGA: 201719050376

In [ ]:
import pandas as pd
import os
from sklearn.tree import DecisionTreeClassifier, export_graphviz
import sklearn
from sklearn.model_selection import train_test_split
from sklearn import metrics
import numpy as np

In [ ]:
os.chdir('/content/drive/MyDrive/IA')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Importando dados relevantes
df_review = pd.read_csv('/content/drive/MyDrive/IA/olist_order_reviews_dataset.csv')
df_customers = pd.read_csv('/content/drive/MyDrive/IA/olist_customers_dataset.csv')
df_category = pd.read_csv('/content/drive/MyDrive/IA/product_category_name_translation.csv')

In [ ]:
df_geral = df_review.join(df_customers.join(df_category))

In [ ]:
df_geral

                              review_id  ... product_category_name_english
0      7bc2406110b926393aa56f80a40eba40  ...                 health_beauty
1      80e641a11e56f04c1ad469d5645fdfde  ...         computers_accessories
2      228ce5500dc1d8e020d8d1322874b6f0  ...                          auto
3      e64fb393e7b32834bb789ff8bb30750e  ...                bed_bath_table
4      f7c4243c7fe1938f181bec41a392bdeb  ...               furniture_decor
...                                 ...  ...                           ...
99995  f3897127253a9592a73be9bdfdf4ed7a  ...                           NaN
99996  b3de70c89b1510c4cd3d0649fd302472  ...                           NaN
99997  1adeb9d84d72fe4e337617733eb85149  ...                           NaN
99998  be360f18f5df1e0541061c87021e6d93  ...                           NaN
99999  efe49f1d6f951dd88b51e6ccd4cc548f  ...                           NaN

[100000 rows x 14 columns]

In [ ]:
#Limpando dados descartáveis
df_geral = df_geral.drop('review_id', axis=1)
df_geral = df_geral.drop('order_id', axis=1)
df_geral = df_geral.drop('review_creation_date', axis=1)
df_geral = df_geral.drop('review_answer_timestamp', axis=1)
df_geral = df_geral.drop('customer_id', axis=1)
df_geral = df_geral.drop('customer_unique_id', axis=1)
df_geral = df_geral.drop('customer_zip_code_prefix', axis=1)
df_geral = df_geral.drop('product_category_name_english', axis=1)

In [ ]:
df_geral

       review_score review_comment_title  ... customer_state   product_category_name
0                 4                  NaN  ...             SP            beleza_saude
1                 5                  NaN  ...             SP  informatica_acessorios
2                 5                  NaN  ...             SP              automotivo
3                 5                  NaN  ...             SP         cama_mesa_banho
4                 5                  NaN  ...             SP        moveis_decoracao
...             ...                  ...  ...            ...                     ...
99995             5                  NaN  ...            NaN                     NaN
99996             5                  NaN  ...            NaN                     NaN
99997             4                  NaN  ...            NaN                     NaN
99998             1                  NaN  ...            NaN                     NaN
99999             1                  NaN  ...            NaN                     NaN

[100000 rows x 6 columns]

In [ ]:
#df_review = df_review.dropna()

In [ ]:
df_review

                              review_id  ... review_answer_timestamp
0      7bc2406110b926393aa56f80a40eba40  ...     2018-01-18 21:46:59
1      80e641a11e56f04c1ad469d5645fdfde  ...     2018-03-11 03:05:13
2      228ce5500dc1d8e020d8d1322874b6f0  ...     2018-02-18 14:36:24
3      e64fb393e7b32834bb789ff8bb30750e  ...     2017-04-21 22:02:06
4      f7c4243c7fe1938f181bec41a392bdeb  ...     2018-03-02 10:26:53
...                                 ...  ...                     ...
99995  f3897127253a9592a73be9bdfdf4ed7a  ...     2017-12-11 20:06:42
99996  b3de70c89b1510c4cd3d0649fd302472  ...     2018-03-23 09:10:43
99997  1adeb9d84d72fe4e337617733eb85149  ...     2018-07-02 12:59:13
99998  be360f18f5df1e0541061c87021e6d93  ...     2017-12-16 01:29:43
99999  efe49f1d6f951dd88b51e6ccd4cc548f  ...     2017-07-03 21:01:49

[100000 rows x 7 columns]

In [ ]:
#Comentários mais relevantes
#df_geral.review_comment_message.dropna()

In [ ]:
#Comentários mais relevantes com pontuações ruins
score = df_geral[["review_score"]]
bad_scores = score.query('review_score<= 3')
bad_scores

       review_score
5                 1
14                3
16                2
18                3
19                1
...             ...
99987             3
99990             3
99991             3
99998             1
99999             1

[23380 rows x 1 columns]

In [ ]:
#Número de comentários com pontuações ruins
len(df_geral.query('review_score <= 3'))

23380

In [ ]:
#Comentários mais relevantes com pontuações boas
good_scores = score.query('review_score >= 4')
good_scores

       review_score
0                 4
1                 5
2                 5
3                 5
4                 5
...             ...
99993             5
99994             5
99995             5
99996             5
99997             4

[76620 rows x 1 columns]

In [ ]:
#Número de comentários com pontuações boas
len(df_geral.query('review_score >= 4'))

76620

In [ ]:
#Filtrando linhas sem comentários e com caracteres indesejados para o título e seus comentarios
filter_comments = df_geral['review_comment_message'].notna()
df_geral = df_geral[filter_comments]
df_geral

df_geral['review_comment_message'] = df_geral['review_comment_message'].astype(str)
df_geral['review_comment_message'] = df_geral['review_comment_message'].str.replace(',','')
df_geral['review_comment_message'] = df_geral['review_comment_message'].str.replace('\r','')
df_geral['review_comment_message'] = df_geral['review_comment_message'].str.replace('\n','')

#titulo
df_geral['review_comment_title'] = df_geral['review_comment_title'].str.replace(',','')
df_geral['review_comment_title'] = df_geral['review_comment_title'].str.replace("'",'')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [ ]:
#Filtrando comentários <= 3
filter_comments = df_geral['review_score'] <= 3
filter_comments
df_geral = df_geral[filter_comments]
df_geral

       review_score  ... product_category_name
16                2  ...    ferramentas_jardim
19                1  ...        consoles_games
29                1  ...              pet_shop
32                1  ...           eletronicos
39                1  ...       livros_tecnicos
...             ...  ...                   ...
99975             2  ...                   NaN
99978             2  ...                   NaN
99990             3  ...                   NaN
99998             1  ...                   NaN
99999             1  ...                   NaN

[15073 rows x 6 columns]

In [ ]:
#Estudando o maior problema
df_geral['comment_reason'] = ''

product = ["quebrado","errado","errada","funcionamento","brinde","marca","preco","caro","baixa","propaganda","imagem","foto","estragado","defeito","torto"]
delivery = ["entregador","entrega","grosso","rude","estranho","apressado","atendimento","devagar","veio","chegou"]
time = ["prazo","entrega","demorou","tempo","demorou","esperei","rapido","devagar","atrasado","hoje","meses","horas","dias","viagem"]
freight = ["frete","preço","caro","abusivo"]

df_geral['review_comment_message'] = df_geral['review_comment_message'].astype(str)

def check(comment,reason):
    for word in reason:
        if word.upper() in comment.upper():
            return True
    return False

for index, row in df_geral.iterrows():
    if check(row['review_comment_message'], product):
      df_geral.loc[index, 'comment_reason'] = 'Produto insatisfatorio'
    elif check(row['review_comment_message'], delivery):
      df_geral.loc[index, 'comment_reason'] = 'Entrega insatisfatoria'
    elif check(row['review_comment_message'], time):
      df_geral.loc[index, 'comment_reason'] = 'Tempo de entrega insatisfatorio'
    elif check(row['review_comment_message'], freight):
      df_geral.loc[index, 'comment_reason'] = 'Frete insatisfatorio'

In [ ]:
compression_opts = dict(method='zip',
                        archive_name='df_geral.csv')  
df_geral.to_csv('df_geral.zip', index=False,
          compression=compression_opts)

# **Atributos usados**
![image.png]()

# Dados da árvore

```
# === Run information ===

Scheme:       weka.classifiers.trees.J48 -C 0.25 -M 2
Relation:     df_geral
Instances:    15071
Attributes:   7
              review_score
              review_comment_title
              review_comment_message
              customer_city
              customer_state
              product_category_name
              comment_reason
Test mode:    evaluate on training data

=== Classifier model (full training set) ===

J48 pruned tree
------------------
: entrega insatisfatoria (7758.0/3046.0)

Number of Leaves  : 	1

Size of the tree : 	1


Time taken to build model: 0.34 seconds

=== Evaluation on training set ===

Time taken to test model on training data: 0.43 seconds

=== Summary ===

Correctly Classified Instances        4712               60.7373 %
Incorrectly Classified Instances      3046               39.2627 %
Kappa statistic                          0     
Mean absolute error                      0.2796
Root mean squared error                  0.3739
Relative absolute error                 99.9824 %
Root relative squared error            100      %
Total Number of Instances             7758     
Ignored Class Unknown Instances               7313     

=== Detailed Accuracy By Class ===

                 TP Rate  FP Rate  Precision  Recall   F-Measure  MCC      ROC Area  PRC Area  Class
                 1,000    1,000    0,607      1,000    0,756      ?        0,500     0,313     entrega insatisfatoria
                 0,000    0,000    ?          0,000    ?          ?        0,500     0,119     produto insatisfatorio
                 0,000    0,000    ?          0,000    ?          ?        0,500     0,070     tempo de entrega insatisfatorio
                 0,000    0,000    ?          0,000    ?          ?        0,500     0,014     frete insatisfatorio
Weighted Avg.    0,607    0,607    ?          0,607    ?          ?        0,500     0,227     

=== Confusion Matrix ===

    a    b    c    d   <-- classified as
 4712    0    0    0 |    a = entrega insatisfatoria
 1786    0    0    0 |    b = produto insatisfatorio
 1048    0    0    0 |    c = tempo de entrega insatisfatorio
  212    0    0    0 |    d = frete insatisfatorio


```

# Sugestão ao proprietário
### Como pode ser visto, separando os comentários de acordo com nossos atributos, vê-se que o maior problema dos clientes é na maioria das vezes na entrega de seus produtos. Deve-se contatar seus entregadores e revisar novas transportadoras mais confiáveis, afim de diminuir avaliações precárias.
### Vale salientar que sua empresa encontra-se mais notas boas do que baixas, entretanto ainda numa proporção não muito agradável, então providencie de imediato tais alterações na empresa.